*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1029;
}

.image-modal{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  width: 100px;
  height: 80px;
}

.pointer{
  cursor: pointer;
}
.searched-container{
  padding: 10px;
}

.spacing{
  padding: 0 10px;
}

.search-suggestions{
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  max-height: 400px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  border: 1px solid #cccccc;
}
.search-suggestions span{
  padding: 8px 10px;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}