*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1029;
}

.image-modal{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
  width: 100px;
  height: 80px;
}

.pointer{
  cursor: pointer;
}
.searched-container{
  padding: 10px;
}

.spacing{
  padding: 0 10px;
}